<template>
  <div>
    <btnHome home-type="albums" />

    <el-card>
      <h2>Create an album</h2>
      <el-divider></el-divider>

      <el-form>
        <el-form-item label="Name">
          <el-input v-model="name"></el-input>
        </el-form-item>

        <el-form-item label="Tracks">
          <el-input type="number" v-model="tracks"></el-input>
        </el-form-item>

        <el-form-item class="date-input">
          <span class="demonstration">Release date</span>
          <el-date-picker
            v-model="released"
            type="year"
            placeholder="Choose a year"
            format="yyyy"
            value-format="yyyy">
          </el-date-picker>
        </el-form-item>

        <el-form-item>
          <el-select v-model="artistId" placeholder="Artist">
            <el-option
              v-for="artist in artists"
              :key="artist.id"
              :label="artist.name"
              :value="artist.id">
            </el-option>
          </el-select>
        </el-form-item>

        <el-button type="primary" @click="create"> Create </el-button>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  data () {
    return {
      name: '',
      released: '',
      tracks: '',
      artistId: '',
      error: null
    }
  },
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      fetchManyArtists: 'artists/fetchManyArtists',
      createAlbum: 'albums/createAlbum'
    }),
    create () {
      const payload = { name: this.name, artistId: this.artistId, released: this.released, tracks: this.tracks }

      this.createAlbum(payload)
      this.$router.push({ name: 'admin.albums.index' })
    }
  },
  computed: {
    ...mapState({
      artists: state => state.artists.manyArtists
    })
  },
  mounted () {
    this.fetchManyArtists()
  }
}
</script>

<style scoped>
h2 {
  text-transform: uppercase;
  text-align: center;
}

.date-input >>> .el-form-item__content {
  display: flex;
  flex-direction: column;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
