<template>
  <div>
    <btnHome home-type="albums" />

    <el-card>
      <h2>Edit album</h2>
      <el-divider></el-divider>
      <el-form v-if="album.target">
        <el-form-item label="Name">
          <el-input v-model="album.target.name"></el-input>
        </el-form-item>

        <el-form-item label="Tracks">
          <el-input type="number" v-model="album.target.tracks"></el-input>
        </el-form-item>

        <el-form-item class="date-input">
          <span class="demonstration">Release date</span>
          <el-date-picker
            v-model="album.target.released"
            type="year"
            placeholder="Choose a year"
            format="yyyy"
            value-format="yyyy">
          </el-date-picker>
        </el-form-item>

        <el-form-item>
          <el-select v-model="album.target.artistId" placeholder="Artist">
            <el-option
              v-for="artist in artists"
              :key="artist.id"
              :label="artist.name"
              :value="artist.id">
            </el-option>
          </el-select>
        </el-form-item>

        <el-button type="primary" @click="save"> Update </el-button>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  computed: {
    ...mapState({
      album: state => state.albums.album,
      artists: state => state.artists.manyArtists,
    })
  },
  methods: {
    ...mapActions({
      fetchAlbum: 'albums/fetchAlbum',
      fetchManyArtists: 'artists/fetchManyArtists',
      editAlbum: 'albums/editAlbum',
    }),
    save () {
      this.editAlbum(this.album.target)
      this.$router.push({ name: 'admin.albums.show', params: { id: this.album.target.id } })
    }
  },
  mounted () {
    this.fetchAlbum(this.$route.params.id)
    this.fetchManyArtists()
  }
}
</script>

<style scoped>
h2 {
  text-align: center;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.date-input >>> .el-form-item__content {
  display: flex;
  flex-direction: column;
}
</style>
