<template>
  <div>
    <btnHome home-type="albums" />

    <el-card v-if="album.target">
      <h2> {{ album.target.name }} </h2>
      <el-divider></el-divider>

      <p> {{ album.target.released }} </p>
      <el-divider></el-divider>

      <p> {{ album.target.tracks }} </p>
      <el-divider></el-divider>

      <p> {{ album.artist.name }} </p>
      <el-divider></el-divider>

      <el-button type="primary" @click="edit">Edit artist | <i class="el-icon-edit-outline"></i></el-button>
      <el-button type="danger" @click="deleteItem">Delete | <i class="el-icon-delete"></i></el-button>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      fetchAlbum: 'albums/fetchAlbum',
      deleteAlbum: 'albums/deleteAlbum'
    }),
    edit () {
      this.$router.push({ name: 'admin.albums.edit', params: { id: this.album.target.id } })
    },
    deleteItem () {
      this.deleteAlbum(this.$route.params.id)
      this.$router.push({ name: 'admin.albums.index' })
    }
  },
  computed: {
    ...mapState({
      album: state => state.albums.album
    })
  },
  mounted () {
    this.fetchAlbum(this.$route.params.id)
  }
}
</script>

<style scoped>
.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
