<template>
    <router-link
    :to="{name:'indexAdmin'}">
        <el-link type="primary">home admin</el-link>
    </router-link>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.el-link {
    transform: translateY(-20px);
}
</style>
