<template>
    <router-link
    :to="{name: `admin.${home_type}.index`}">
        <el-link type="primary">home {{ home_type }}</el-link>
    </router-link>
</template>

<script>
export default {
  props: ['homeType'],
  data: function () {
    return {
      home_type: this.homeType
    }
  }
}
</script>

<style lang="scss" scoped>
.el-link {
    transform: translateY(-20px);
}
</style>
