<template>
  <div>
    <btnHome home-type="artists" />

    <el-card>
      <h2>Create an artist</h2>
      <el-divider></el-divider>

      <el-form>
        <el-form-item label="Name">
          <el-input v-model="name"></el-input>
        </el-form-item>

        <el-form-item label="Country">
          <el-input v-model="country"></el-input>
        </el-form-item>

        <el-form-item>
          <el-input-number v-model="likes"></el-input-number>
        </el-form-item>

        <el-select v-model="genreId" placeholder="Genre">
          <el-option
            v-for="genre in genres"
            :key="genre.id"
            :label="genre.name"
            :value="genre.id">
          </el-option>
        </el-select>

        <el-row :gutter="20">
          <el-col :span="16">
            <div class="grid-content bg-purple">
              <el-form-item label="Avatar">
                <el-input v-model="avatar"></el-input>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content bg-purple">
              <el-image
                style="width: 100px; height: 100px"
                :src="avatar"
                fit="cover"></el-image>
            </div>
          </el-col>
        </el-row>

        <el-form-item label="Description">
          <el-input type="textarea" v-model="description"></el-input>
        </el-form-item>

        <el-button type="primary" @click="create"> Create </el-button>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  data () {
    return {
      name: '',
      genreId: '',
      country: '',
      likes: 0,
      avatar: '',
      description: '',
      error: null
    }
  },
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      fetchGenres: 'artists/fetchGenres',
      createArtist: 'artists/createArtist'
    }),
    create () {
      const payload = { name: this.name, genreId: this.genreId, country: this.country, likes: this.likes, avatar: this.avatar, description: this.description }

      this.createArtist(payload)
      this.$router.push({ name: 'admin.artists.index' })
    }
  },
  computed: {
    ...mapState({
      genres: state => state.artists.genres
    })
  },
  mounted () {
    this.fetchGenres()
  }
}
</script>

<style scoped>
h2 {
  text-transform: uppercase;
  text-align: center;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.el-textarea {
  height: 200px
}

.el-textarea >>> .el-textarea__inner {
  height: 200px
}
</style>
