<template>
  <div>
    <btnHome home-type="artists" />

    <el-card>
      <h2>Edit artist</h2>
      <el-divider></el-divider>
      <el-form v-if="artist.target">
        <el-form-item label="Name">
          <el-input v-model="artist.target.name"></el-input>
        </el-form-item>

        <el-form-item v-if="artist.target.country" label="Country">
          <el-input v-model="artist.target.country"></el-input>
        </el-form-item>
        <el-form-item v-else-if="artist.target.origin" label="Origin">
          <el-input v-model="artist.target.origin"></el-input>
        </el-form-item>

        <el-form-item>
          <el-input-number v-model="artist.target.likes"></el-input-number>
        </el-form-item>

        <el-select v-model="artist.target.genreId" placeholder="Genre">
          <el-option
            v-for="genre in genres"
            :key="genre.id"
            :label="genre.name"
            :value="genre.id">
          </el-option>
        </el-select>

        <el-row :gutter="20">
          <el-col :span="16">
            <div class="grid-content bg-purple">
              <el-form-item label="Avatar">
                <el-input v-model="artist.target.avatar"></el-input>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content bg-purple">
              <el-image
                style="width: 100px; height: 100px"
                :src="artist.target.avatar"
                fit="cover"></el-image>
            </div>
          </el-col>
        </el-row>

        <el-form-item label="Description">
          <el-input type="textarea" v-model="artist.target.description"></el-input>
        </el-form-item>

        <el-button type="primary" @click="save"> Update </el-button>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  computed: {
    ...mapState({
      artist: state => state.artists.artist,
      genres: state => state.artists.genres,
    })
  },
  methods: {
    ...mapActions({
      fetchArtist: 'artists/fetchArtist',
      fetchGenres: 'artists/fetchGenres',
      editArtist: 'artists/editArtist',
    }),
    save () {
      this.editArtist(this.artist.target)
      this.$router.push({ name: 'admin.artists.show', params: { id: this.artist.target.id } })
    }
  },
  mounted () {
    this.fetchArtist(this.$route.params.id)
    this.fetchGenres()
  }
}
</script>

<style scoped>
h2 {
  text-align: center;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.el-textarea {
  height: 200px
}

.el-textarea >>> .el-textarea__inner {
  height: 200px
}
</style>
