<template>
<div>
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="grid-content bg-purple-dark">
              <h2>Artists</h2>
            </div>
          </el-col>
          <CardArtists v-for="item in artists" :key="item.id" :data="item" :route='"artists.show"'/>
        </el-row>
        <el-row>
          <el-col :span="24" class="pagination-bloc">
              <jw-pagination :items="artists" @changePage="onChangePage"></jw-pagination>
          </el-col>
        </el-row>
        </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CardArtists from '@/components/CardArtists.vue'

export default {
  components: {
    CardArtists
  },
  data () {
    return {
      pageOfItems: []
    }
  },
  methods: {
    ...mapActions({
      fetchManyArtists: 'artists/fetchManyArtists',
    }),
    onChangePage (pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems
    }
  },
  computed: {
    ...mapState({
      artists: state => state.artists.manyArtists
    })
  },
  mounted () {
    this.fetchManyArtists()
  }
}
</script>

<style>
a{
    text-decoration: none;
}
.el-button.el-button--primary a{
    color: #fff;
}
</style>
