<template>
  <div>
    <btnHome home-type="artists" />

    <el-card v-if="artist.target">
      <h2> {{ artist.target.name }} </h2>
      <el-divider></el-divider>

      <el-image
        style="width: 100px; height: 100px"
        :src="artist.target.avatar"
        fit="cover"></el-image>
      <el-divider></el-divider>

      <p v-if="artist.target.origin"> {{ artist.target.origin }} </p>
      <p v-else-if="artist.target.country"> {{ artist.target.country }} </p>
      <el-divider></el-divider>

      <p> Number of likes : {{ artist.target.likes }} </p>
      <el-divider></el-divider>

      <p v-if="artist">{{ artist.genre.name }}</p>
      <el-divider></el-divider>

      <p> {{ artist.target.description }} </p>
      <el-divider></el-divider>

      <el-button type="primary" @click="edit">Edit artist | <i class="el-icon-edit-outline"></i></el-button>
      <el-button type="danger" @click="deleteItem">Delete | <i class="el-icon-delete"></i></el-button>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      fetchArtist: 'artists/fetchArtist',
      deleteArtist: 'artists/deleteArtist'
    }),
    edit () {
      console.log(this.artist)
      // this.$router.push({ name: 'admin.artists.edit', params: { id: this.artist.target.id } })
    },
    deleteItem () {
      this.deleteArtist(this.$route.params.id)
      this.$router.push({ name: 'admin.artists.index' })
    }
  },
  computed: {
    ...mapState({
      artist: state => state.artists.artist
    })
  },
  mounted () {
    this.fetchArtist(this.$route.params.id)
  }
}
</script>

<style scoped>
.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
