<template>
  <div>
    <el-col :span="24" >
            <div class="grid-content bg-purple-dark">
              <el-button type="primary" round icon="el-icon-back"><router-link
      :to="{name: 'artists.index'}">Back all Artists</router-link></el-button>
            </div>
    </el-col>

    <el-card v-if="artist.target">
      <h2> {{ artist.target.name }} </h2>
      <el-divider></el-divider>

      <el-image
        style="width: 100px; height: 100px"
        :src="artist.target.avatar"
        fit="cover"></el-image>
      <el-divider></el-divider>

      <p v-if="artist.target.origin"> Origine : {{ artist.target.origin }} </p>
      <p v-else-if="artist.target.country"> Pays : {{ artist.target.country }} </p>
      <el-divider></el-divider>

      <p> Number of likes : {{ artist.target.likes }} </p>
      <el-divider></el-divider>

      <p v-if="artist">Genre : {{ artist.genre.name }}</p>
      <el-divider></el-divider>

      <p> {{ artist.target.description }} </p>
      <el-divider></el-divider>
      <p>Albums : </p>
      <ul v-for="album in artist.albums" :key="album.id">
          <li><p>{{ album.name }} - {{ album.released }}</p><p>Track : {{ album.tracks }}</p></li>
      </ul>
      <el-divider></el-divider>
      <p>Concerts : </p>
      <ul v-for="concert in artist.concerts" :key="concert.id">
          <li><p>{{ concert.name }} - {{ concert.date }}</p></li>
      </ul>
      <el-divider></el-divider>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  components: {
  },
  methods: {
    ...mapActions({
      fetchArtist: 'artists/fetchArtist',
    }),
  },
  computed: {
    ...mapState({
      artist: state => state.artists.artist
    })
  },
  mounted () {
    this.fetchArtist(this.$route.params.id)
  }
}
</script>

<style scoped>
.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
