<template>
  <el-container>
    <el-container class="main">
      <el-main>
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="grid-content bg-purple-dark">
              <h2>News</h2>
            </div>
          </el-col>
          <CardNews v-for="item in newsLimited" :key="item.id" :data="item" :route='"news.show"' />
          <el-col :span="24" style="text-align:center;">
            <div class="grid-content bg-purple-dark">
              <el-button type="primary" round icon="el-icon-right"><router-link
              :to="{name: 'news.index'}">See all News</router-link></el-button>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="grid-content bg-purple-dark">
              <h2>Albums</h2>
            </div>
          </el-col>
          <CardAlbums v-for="item in albumsLimited" :key="item.id" :data="item" :route='"artists.show"' />
          <el-col :span="24" style="text-align:center;">
            <div class="grid-content bg-purple-dark">
              <el-button type="primary" round icon="el-icon-right"><router-link
              :to="{name: 'artists.index'}">See all Artists</router-link></el-button>
            </div>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CardNews from '@/components/CardNews.vue'
import CardAlbums from '@/components/CardAlbums.vue'

export default {
  components: {
    CardNews,
    CardAlbums
  },
  methods: {
    ...mapActions({
      fetchManyNews: 'news/fetchManyNews',
      fetchManyAlbums: 'albums/fetchManyAlbums'
    })
  },
  computed: {
    ...mapState({
      news: state => state.news.manyNews,
      albums: state => state.albums.manyAlbums
    }),
    newsLimited () {
      return this.news.slice(0, 8)
    },
    albumsLimited () {
      return this.albums.slice(0, 8)
    }
  },
  mounted () {
    this.fetchManyNews()
    this.fetchManyAlbums()
  }
}
</script>

<style>
a{
    text-decoration: none;
}
.el-button.el-button--primary a{
    color: #fff;
}
</style>
