<template>
    <el-card>
      <h2>navigation</h2>
      <el-table
      :data="links"
      :cell-style="customCellStyle">
        <el-table-column
          fixed
          prop="title"
          label="Title">
        </el-table-column>
        <el-table-column
          fixed
          prop="link"
          label="Action">
          <template slot-scope="scope">
            <router-link
            :to="{name: scope.row.linkName}">
              <el-button type="primary" size="medium">Go | <i class="el-icon-s-home"></i></el-button>
            </router-link>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
</template>

<script>
export default {
  data: function () {
    return {
      links: [
        {
          title: 'news',
          linkName: 'admin.news.index'
        },
        {
          title: 'artists',
          linkName: 'admin.artists.index'
        },
        {
          title: 'concerts',
          linkName: 'admin.concerts.index'
        },
        {
          title: 'albums',
          linkName: 'admin.albums.index'
        }
      ]
    }
  },
  methods: {
    customCellStyle () {
      return 'text-transform: uppercase;'
    }
  }
}
</script>

<style lang="scss" scoped>
.el-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
}
</style>
