<template>
  <el-col :span="6">
    <router-link :to="{name: route, params: {id: data.id}}">
      <div class="grid-content bg-purple">
        <el-card :body-style="{ padding: '0px' }" shadow="hover">
          <div style="padding: 14px;">
            <h3><i class="el-icon-folder"></i>{{ data.name }}</h3>
            <div class="bottom clearfix">
          <time class="time">{{ data.released }}</time>
          <p>Nombre de tracks :{{ data.tracks }}</p>
        </div>
          </div>
        </el-card>
      </div>
    </router-link>
  </el-col>
</template>

<script>
export default {
  name: 'card',
  props: {
    data: Object,
    route: String
  }
}
</script>

<style scoped>
    .el-col{
        margin-bottom: 15px;
    }
    .time {
    font-size: 13px;
    color: #999;
  }

  p{
     font-size: 14px; 
     line-height: 1.2;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }


  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }

  .clearfix:after {
      clear: both
  }
</style>
