<template>
  <el-col :span="6">
    <div class="grid-content bg-purple">
      <el-card :body-style="{ padding: '0px' }" shadow="hover">
        <div style="padding: 14px;">
          <h3><i class="el-icon-date"></i>{{ data.name }}</h3>
          <div class="bottom clearfix">
            <time class="time">{{ data.date }}</time>
            <div class="grid-content bg-purple-dark">
              <el-button type="primary" round icon="el-icon-right"><router-link
              :to="{name: 'artists.show', params: {id: data.artistId}}">See the artist</router-link></el-button>
            </div>
          </div>
        </div>
      </el-card>
    </div>
  </el-col>
</template>

<script>
export default {
  name: 'card',
  props: {
    data: Object,
    route: String
  }
}
</script>

<style scoped>
    .el-col{
        margin-bottom: 15px;
    }
    .time {
    font-size: 13px;
    color: #999;
  }

  .el-card{
    min-height: 200px;
  }

  p{
     font-size: 14px;
     line-height: 1.2;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }


  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }

  .clearfix:after {
      clear: both
  }

  .el-button {
    margin-top: 15px;
  }
</style>
