<template>
  <div>
    <el-card>
      <h1> Login </h1>
      <el-divider></el-divider>

      <el-form size="medium">
        <el-form-item label="Email" required>
          <el-input type="email" v-model="email"></el-input>
        </el-form-item>

        <el-form-item label="Password" required>
          <el-input type="password" v-model="password"></el-input>
        </el-form-item>

        <el-button type="primary" @click="login">Login</el-button>
      </el-form>

      <el-alert
        v-if="error"
        :title="error"
        type="error">
      </el-alert>
    </el-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    login () {
      axios.post('http://localhost:3000/login', {
        email: this.email,
        password: this.password
      })
        .then(res => {
          localStorage.setItem('token', res.data.accessToken)
          this.$router.push({ name: 'Homepage' })
        })
        .catch(er => {
          this.error = 'Une erreur est survenue'
        })
    }
  }

}
</script>

<style scoped>
h1 {
  text-align: center;
}

.el-card {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

.el-button {
  width: 100%;
}

.el-alert {
  margin-top: 20px;
}
</style>
