<template>
  <el-menu class="el-menu-demo" mode="horizontal" background-color="#545c64" text-color="#fff"
    active-text-color="#ffd04b" :default-active="activeIndex2">
    <el-menu-item><router-link
        :to="{name: 'Homepage'}"
      >
        Accueil
      </router-link>
    </el-menu-item>
    <el-menu-item><router-link
      :to="{name: 'news.index'}">News</router-link></el-menu-item>
    <el-menu-item><router-link
      :to="{name: 'concerts.index'}">Concerts</router-link></el-menu-item>
    <el-menu-item><router-link
      :to="{name: 'artists.index'}">Artistes / Groupes</router-link></el-menu-item>
    <el-submenu index="2">
      <template slot="title">Account</template>
      <el-menu-item index="2-1">
        <router-link :to="{name: 'Login'}">
          Login
        </router-link>
      </el-menu-item>
      <el-menu-item index="2-2">
        <router-link :to="{name: 'Register'}">
          Register
        </router-link>
      </el-menu-item>
      <el-menu-item index="2-3">
         <btnHomeAdmin />
      </el-menu-item>
      <el-menu-item index="2-4">
        <el-button type="danger" @click="logout" round>Logout</el-button>
      </el-menu-item>
    </el-submenu>
  </el-menu>
</template>

<script>
import btnHomeAdmin from '@/components/helpers/btnHomeAdmin.vue'
export default {
  components: {
    btnHomeAdmin
  },
  data () {
    return {
      activeIndex: '1',
      activeIndex2: '1'
    }
  },
  methods: {
    logout () {
      localStorage.removeItem('token')
      this.$router.push({ name: 'Login' })
    }
  },
  handleSelect (key, keyPath) {
    console.log(key, keyPath)
  }
}
</script>

<style lang="scss">
  .el-menu {
    display: flex;
    justify-content: flex-end;

    a {
      color: white;
    }
  }
</style>
