<template>
  <el-container>
    <el-container class="main">
      <el-main>
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="grid-content bg-purple-dark">
              <h2>News</h2>
            </div>
          </el-col>
          <CardNews v-for="item in news" :key="item.id" :data="item" :route='"news.show"' />
          <el-col :span="24" style="text-align:center;">
            <div class="grid-content bg-purple-dark">
              <el-button type="primary" round icon="el-icon-right"><router-link
              :to="{name: 'news.index'}">See all News</router-link></el-button>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="grid-content bg-purple-dark">
              <h2>Albums</h2>
            </div>
          </el-col>
          <CardAlbums v-for="item in albums" :key="item.id" :data="item" :route='"artists.show"' />
          <el-col :span="24" style="text-align:center;">
            <div class="grid-content bg-purple-dark">
              <el-button type="primary" round icon="el-icon-right"><router-link
              :to="{name: 'artists.index'}">See all Artists</router-link></el-button>
            </div>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CardNews from '@/components/CardNews.vue'
import CardAlbums from '@/components/CardAlbums.vue'

export default {
  components: {
    CardNews,
    CardAlbums
  },
  methods: {
    ...mapActions({
      fetchManyNewsByTerm: 'news/fetchManyNewsByTerm',
      fetchManyAlbumsByTerm: 'albums/fetchManyAlbumsByTerm'
    })
  },
  computed: {
    ...mapState({
      news: state => state.news.manyNews,
      albums: state => state.albums.manyAlbums
    }),
  },
  mounted () {
    this.fetchManyNewsByTerm(this.$route.query.term)
    this.fetchManyAlbumsByTerm(this.$route.query.term)
  }
}
</script>

<style>
a{
    text-decoration: none;
}
.el-button.el-button--primary a{
    color: #fff;
}
</style>
