<template>
  <div>
    <btnHome home-type="news" />

    <el-card>
      <h2>Create a news</h2>
      <el-divider></el-divider>

      <el-form>
        <el-form-item label="Title">
          <el-input v-model="title"></el-input>
        </el-form-item>

        <el-form-item label="Content">
          <el-input type="textarea" v-model="content"></el-input>
        </el-form-item>
      </el-form>

      <el-divider></el-divider>
      <el-button type="primary" @click="create"> Create </el-button>
    </el-card>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  data () {
    return {
      title: '',
      content: '',
      error: null
    }
  },
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      createNews: 'news/createNews'
    }),
    create () {
      const now = new Date()
      const published_at = `${now.getDate()}/${now.getMonth() + 1}/${now.getFullYear()}`

      const payload = { title: this.title, content: this.content, published: published_at }
      this.createNews(payload)
      this.$router.push({ name: 'admin.news.index' })
    }
  },
}
</script>

<style scoped>
h2 {
  text-transform: uppercase;
  text-align: center;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.el-textarea {
  height: 200px
}

.el-textarea >>> .el-textarea__inner {
  height: 200px
}
</style>
