<template>
  <div>
    <btnHome home-type="news" />

    <el-card>
      <h2>Edit news</h2>
      <el-divider></el-divider>
      <el-form v-if="news">
        <el-form-item label="Title">
          <el-input v-model="news.title"></el-input>
        </el-form-item>

        <el-form-item label="Content">
          <el-input type="textarea" v-model="news.content"></el-input>
        </el-form-item>

        <el-button type="primary" @click="save"> Update </el-button>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  computed: {
    ...mapState({
      news: state => state.news.news
    })
  },
  methods: {
    ...mapActions({
      fetchNews: 'news/fetchNews',
      editNews: 'news/editNews'
    }),
    save () {
      this.editNews(this.news)
      this.$router.push({ name: 'admin.news.show', params: { id: this.news.id } })
    }
  },
  mounted () {
    this.fetchNews(this.$route.params.id)
  }
}
</script>

<style scoped>
h2 {
  text-align: center;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.el-textarea {
  height: 200px
}

.el-textarea >>> .el-textarea__inner {
  height: 200px
}
</style>
