<template>
  <el-container>
    <el-container class="main">
      <el-main>
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="grid-content bg-purple-dark">
              <h2>News</h2>
            </div>
          </el-col>
          <CardNews v-for="item in pageOfItems" :key="item.id" :data="item" :route='"news.show"' />
        </el-row>
        <el-row>
          <el-col :span="24" class="pagination-bloc">
             <jw-pagination :items="news" @changePage="onChangePage"></jw-pagination>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CardNews from '@/components/CardNews.vue'

export default {
  components: {
    CardNews
  },
  data () {
    return {
      pageOfItems: []
    }
  },
  methods: {
    ...mapActions({
      fetchManyNews: 'news/fetchManyNews'
    }),
    onChangePage (pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems
    }
  },
  computed: {
    ...mapState({
      news: state => state.news.manyNews
    }),
  },
  mounted () {
    this.fetchManyNews()
  }
}
</script>

<style>
a{
    text-decoration: none;
}
.el-button.el-button--primary a{
    color: #fff;
}
.pagination-bloc{
  text-align: center;
}
</style>
