<template>
  <div>
    <btnHome home-type="news" />

    <el-card v-if="news">
      <h2> {{ news.title }} </h2>
      <el-divider></el-divider>

      <p> {{ news.content }} </p>
      <el-divider></el-divider>

      <el-button type="primary" @click="edit">Edit news | <i class="el-icon-edit-outline"></i></el-button>
      <el-button type="danger" @click="deleteItem">Delete | <i class="el-icon-delete"></i></el-button>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      fetchNews: 'news/fetchNews',
      deleteNews: 'news/deleteNews'
    }),
    edit () {
      this.$router.push({ name: 'admin.news.edit', params: { id: this.news.id } })
    },
    deleteItem () {
      this.deleteNews(this.$route.params.id)
      this.$router.push({ name: 'admin.news.index' })
    }
  },
  computed: {
    ...mapState({
      news: state => state.news.news
    })
  },
  mounted () {
    this.fetchNews(this.$route.params.id)
  }
}
</script>

<style scoped>
.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
