<template>
  <div>
    <el-col :span="24" >
            <div class="grid-content bg-purple-dark">
              <el-button type="primary" round icon="el-icon-back"><router-link
      :to="{name: 'news.index'}">Back all News</router-link></el-button>
            </div>
    </el-col>

    <el-card v-if="news">
      <h2> {{ news.title }} </h2>
      <el-divider></el-divider>

      <p> {{ news.content }} </p>
      <el-divider></el-divider>

    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  methods: {
    ...mapActions({
      fetchNews: 'news/fetchNews'
    })
  },
  computed: {
    ...mapState({
      news: state => state.news.news
    })
  },
  mounted () {
    this.fetchNews(this.$route.params.id)
  }
}
</script>

<style scoped>
.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
