<template>
  <div>
    <btnHome home-type="concerts" />

    <el-card>
      <h2>Create a concert</h2>
      <el-divider></el-divider>

      <el-form>
        <el-form-item label="Name">
          <el-input v-model="name"></el-input>
        </el-form-item>

        <el-form-item class="date-input">
          <span class="demonstration">Date of the concert</span>
          <el-date-picker
            v-model="date"
            type="date"
            placeholder="Choose a day"
            format="dd/MM/yyyy"
            value-format="dd/MM/yyyy">
          </el-date-picker>
        </el-form-item>

        <el-form-item>
          <el-select v-model="artistId" placeholder="Artist">
            <el-option
              v-for="artist in artists"
              :key="artist.id"
              :label="artist.name"
              :value="artist.id">
            </el-option>
          </el-select>
        </el-form-item>

        <el-button type="primary" @click="create"> Create </el-button>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  data () {
    return {
      name: '',
      artistId: '',
      date: '',
      error: null
    }
  },
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      fetchManyArtists: 'artists/fetchManyArtists',
      createConcert: 'concerts/createConcert'
    }),
    create () {
      const payload = { name: this.name, artistId: this.artistId, date: this.date }

      this.createConcert(payload)
      this.$router.push({ name: 'admin.concerts.index' })
    }
  },
  computed: {
    ...mapState({
      artists: state => state.artists.manyArtists
    })
  },
  mounted () {
    this.fetchManyArtists()
  }
}
</script>

<style scoped>
h2 {
  text-transform: uppercase;
  text-align: center;
}

.date-input >>> .el-form-item__content {
  display: flex;
  flex-direction: column;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
