<template>
  <div>
    <btnHome home-type="concerts" />

    <el-card>
      <h2>Edit concert</h2>
      <el-divider></el-divider>
      <el-form v-if="concert.target">
        <el-form-item label="Name">
          <el-input v-model="concert.target.name"></el-input>
        </el-form-item>

        <el-form-item class="date-input">
          <span class="demonstration">Date of the concert</span>
          <el-date-picker
            v-model="concert.target.date"
            type="date"
            placeholder="Choose a day"
            format="dd/MM/yyyy"
            value-format="dd/MM/yyyy">
          </el-date-picker>
        </el-form-item>

        <el-form-item>
          <el-select v-model="concert.target.artistId" placeholder="Artist">
            <el-option
              v-for="artist in artists"
              :key="artist.id"
              :label="artist.name"
              :value="artist.id">
            </el-option>
          </el-select>
        </el-form-item>

        <el-button type="primary" @click="save"> Update </el-button>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  computed: {
    ...mapState({
      concert: state => state.concerts.concert,
      artists: state => state.artists.manyArtists,
    })
  },
  methods: {
    ...mapActions({
      fetchConcert: 'concerts/fetchConcert',
      fetchManyArtists: 'artists/fetchManyArtists',
      editConcert: 'concerts/editConcert',
    }),
    save () {
      this.editConcert(this.concert.target)
      this.$router.push({ name: 'admin.concerts.show', params: { id: this.concert.target.id } })
    }
  },
  mounted () {
    this.fetchConcert(this.$route.params.id)
    this.fetchManyArtists()
  }
}
</script>

<style scoped>
h2 {
  text-align: center;
}

.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.date-input >>> .el-form-item__content {
  display: flex;
  flex-direction: column;
}
</style>
