<template>
<div>
  <el-row :gutter="20">
    <el-col :span="24">
      <div class="grid-content bg-purple-dark">
        <h2>Concerts</h2>
      </div>
    </el-col>
    <CardConcerts v-for="item in pageOfItems" :key="item.id" :data="item" />
  </el-row>
  <el-row>
    <el-col :span="24" class="pagination-bloc">
        <jw-pagination :items="concerts" @changePage="onChangePage"></jw-pagination>
    </el-col>
  </el-row>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CardConcerts from '@/components/CardConcerts.vue'

export default {
  components: {
    CardConcerts
  },
  data () {
    return {
      pageOfItems: []
    }
  },
  methods: {
    ...mapActions({
      fetchManyConcerts: 'concerts/fetchManyConcerts',
    }),
    onChangePage (pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems
    }
  },
  computed: {
    ...mapState({
      concerts: state => state.concerts.manyConcerts
    })
  },
  mounted () {
    this.fetchManyConcerts()
  }
}
</script>

<style>
a{
    text-decoration: none;
}
.el-button.el-button--primary a{
    color: #fff;
}
</style>
