<template>
  <div>
    <btnHomeAdmin />

    <el-card>
      <h1>Concerts home</h1>
      <el-table
        :data="concerts"
        :cell-style="customCellStyle">
        <el-table-column
          prop="name"
          label="Name">
        </el-table-column>
        <el-table-column
          fixed="right"
          label="Action">
          <template slot-scope="scope">
            <router-link
            :to="{ name: 'admin.concerts.show', params: { id: scope.row.id }}">
              <el-button type="primary" size="medium">Preview | <i class="el-icon-picture-outline"></i></el-button>
            </router-link>
          </template>
        </el-table-column>
      </el-table>

      <el-row>
        <el-col :span="12" :offset="6">
          <router-link
          :to="{name: 'admin.concerts.create'}"
          class="link">
            <el-button type="primary" size="medium">Create</el-button>
          </router-link>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHomeAdmin from '@/components/helpers/btnHomeAdmin.vue'

export default {
  components: {
    btnHomeAdmin
  },
  methods: {
    ...mapActions({
      fetchManyConcerts: 'concerts/fetchManyConcerts'
    }),
    customCellStyle () {
      return 'text-transform: uppercase;'
    }
  },
  computed: {
    ...mapState({
      concerts: state => state.concerts.manyConcerts
    })
  },
  mounted () {
    this.fetchManyConcerts()
  }
}
</script>

<style scoped>
h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.el-card {
  padding: 30px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.el-row {
  margin-top: 50px;
}

.link {
  width: 100%;
}

.link >>> .el-button {
  width: 100%;
}
</style>
