<template>
  <div>
    <btnHome home-type="concerts" />

    <el-card v-if="concert.target">
      <h2> {{ concert.target.name }} </h2>
      <el-divider></el-divider>

      <p> {{ concert.target.date }} </p>
      <el-divider></el-divider>

      <p> {{ concert.artist.name }} </p>
      <el-divider></el-divider>

      <el-button type="primary" @click="edit">Edit artist | <i class="el-icon-edit-outline"></i></el-button>
      <el-button type="danger" @click="deleteItem">Delete | <i class="el-icon-delete"></i></el-button>
    </el-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import btnHome from '@/components/helpers/btnHome.vue'

export default {
  components: {
    btnHome
  },
  methods: {
    ...mapActions({
      fetchConcert: 'concerts/fetchConcert',
      deleteConcert: 'concerts/deleteConcert'
    }),
    edit () {
      this.$router.push({ name: 'admin.concerts.edit', params: { id: this.concert.target.id } })
    },
    deleteItem () {
      this.deleteConcert(this.$route.params.id)
      this.$router.push({ name: 'admin.concerts.index' })
    }
  },
  computed: {
    ...mapState({
      concert: state => state.concerts.concert
    })
  },
  mounted () {
    this.fetchConcert(this.$route.params.id)
  }
}
</script>

<style scoped>
.el-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>
