<template>
  <div id="app">
    <el-header>
      <Navbar />
    </el-header>
    <el-container>
            <div class="search-box">
              <el-form class="form-search">
        <el-form-item
        class="input-search">
          <el-input
          placeholder="Recherche"
          type="text"
          v-model="term">
          </el-input>
          <el-button @click="search" icon="el-icon-search th" circle></el-button>
        </el-form-item>
      </el-form>
            </div>
    </el-container>
    <router-view />
    <el-divider></el-divider>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  components: {
    Navbar
  },
  data () {
    return {
      term: ""
    }
  },
  methods: {
    search () {
      this.$router.push({ path: `/search?term=${this.term}` })
      this.$router.go()
    }
  }
}
</script>

<style>
  body, html {
    font-family: 'Helvetica';
  }

  .el-header {
    margin-bottom: 30px;
  }

  .search-box {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    width: 100%;
  }

  .search-box .el-form.form-search {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .search-box .el-form-item.input-search {
    margin-bottom: 0;

  }

  .search-box .el-form-item.input-search .el-input__inner {
    height: auto;
  }

  .search-box .el-form-item.input-search .is-circle {
    position: absolute;
    right: 0;
    height: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    padding: 12px;
    border-left: none;

  }
</style>
