<template>
  <el-container>
    <el-container class="main">
      <el-main>
        <transition name="fade" mode="out-in">
          <router-view />
        </transition>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>

export default {
  components: {

  }
}
</script>
